# =====================
# Terraform (ALL MODULES)
# =====================
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/crash.log

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log
